.navbar.pull-right
    .navbar-collapse.collapse
        %ul.nav.navbar-nav
            %li
                %button.tp--scroll.margin-button{:href => "#intro"} Domówka
            %li
                %button.tp--scroll.margin-button{:href => "#about"} Melanżowcy
            %li
                %button.tp--scroll.margin-button{:href => "#projects"} Gdzie?
            %li
                %button.tp--scroll.margin-button{:href => "#team"} Staty
            %li
                %button.tp--scroll.margin-button{:href => "#team"} O co kaman?
            %li
                %button.tp--scroll.margin-button{:href => "#team"} Kontakt
            %li.tp--nav-divider
                %a
            %li.tp--nav-signup
                %button.sing-in Cho z nami!