.navbar.pull-right
    .navbar-collapse.collapse
        %ul.nav.navbar-nav
            %li
                %a.tp--scroll.margin-button{ href: "index" } Domówka
            %li
                %a.tp--scroll.margin-button{ href: "users" } Melanżowcy
            %li
                %a.tp--scroll.margin-button{ href: "events" } Gdzie?
            %li
                %a.tp--scroll.margin-button{ href: "statistics" } Staty
            %li
                %a.tp--scroll.margin-button{ href: "about" } O co kaman?
            %li
                %a.tp--scroll.margin-button{ href: "contact" } Kontakt
            %li.tp--nav-divider
                %a
            %li.tp--nav-signup
                %a.sing-in{ :href => "login" } Cho z nami!
